body {
  background-color: rgb(187, 187, 187);
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Ranchers", cursive;
  font-size: 2rem;
}

#Kalkulator {
  background-color: black;
  width: 50vw;
  height: 50vw;
  display: grid;
  position: relative;
  border-bottom: black solid 7px;
  border-right: black solid 6px;
}

#wynik {
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#klawiatura {
  background-color: black;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  position: absolute;
  column-gap: 2px;
  row-gap: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 25%;
}

.guzik {
  display: flex;
  padding: auto;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 47, 47);
  cursor: pointer;
}

#guzik15 {
  grid-area: 4/4/6/5;
}
